# python set:
sets is simply known as collection of unique elements which does not allows duplicates. It is mutable,and unordered datatype it can be represented by curly brackets{} or set() function. each and every elements separated by comma(,)

 Sets are commonly used when you need to store a collection of unique items and perform operations like union, intersection, and difference.

#examples:
  creating set:
     empty_set=set()

In [12]:
fruits={'custard apple','apple','mango'}
type(fruits)

set

In [13]:
numbers={1,2,3,3,4,5,6,6,7}
type(numbers)

set

In [15]:
numbers={1,2,3,5,6,9.78}
type(numbers)

set

In [18]:
print(numbers)
print(fruits)

{1, 2, 3, 5, 6, 9.78}
{'mango', 'apple', 'custard apple'}

*duplicate items:

In [22]:
hello={1,5,6,7,8,9,10,5,9,1,2,3}
print(hello)

{1, 2, 3, 5, 6, 7, 8, 9, 10}

#add iteam,update set and remove element:

In [2]:
set1 = {1,2,3,4}
set1.add(5)
set1.add(7)
print(set1)

{1, 2, 3, 4, 5, 7}

In [4]:
names={'harini','ruthuu'}
names.add('archuu')
print(names)

{'ruthuu', 'harini', 'archuu'}

In [6]:
subjects={'maths','data science','static'}
language={'english','sanskirt'}
subjects.update(language)
print(subjects)

{'data science', 'static', 'sanskirt', 'maths', 'english'}

In [9]:
companies={'microsoft','machine learning','power bi','data science'}
tech_companies={'google','sky','technologies'}
companies.update(tech_companies)
print(companies)

{'data science', 'google', 'machine learning', 'power bi', 'microsoft', 'sky', 'technologies'}

In [10]:
language={'telugu','hindi','english'}
language.remove('hindi')
print(language)

{'telugu', 'english'}

In [11]:
language={'python','jaavaa','data science'}
language.remove('jaavaa')
print(language)

{'data science', 'python'}

#python set operations:
   1)union set
   2)intersection set
   3)difference set

#union set:
the union of two sets A and B include all elements of set A and B

In [15]:
set1={1,2,3,3,4,5,66,66}
set2={7,8,9,10}
set=set1.union(set2)
print(set)

{1, 2, 3, 4, 5, 66, 7, 8, 9, 10}

In [16]:
c={0,51,34,5,29,4}
d={0,42,4,70,38}
set=c.union(d)
print(set)

{0, 34, 4, 5, 70, 38, 42, 51, 29}

#intersection set:
   The intersection of two sets that will returns common elements of both sets.

In [18]:
set1={'ram','sita','hanuman'}
set2={'hanuman','sita'}
set=set1.intersection(set2)
print(set)

{'hanuman', 'sita'}

In [19]:
a={1,3,5,8,4,0,8,0,3,0,2,4}
b={1,2,3,0,5,4,7,8,5,0,2,4}
set=a.intersection(b)
print(set)

{0, 1, 2, 3, 4, 5, 8}

#difference set():
    The difference of two sets is set of elements that are cancels common elements and returns the value of setA
setA={1,2,3,4,5}
setB={4,6,7,8}

In [20]:
setA={1,2,3,4,5}
setB={4,6,7,8}
set=setA.difference(setB)
print(set)

{1, 2, 3, 5}

In [21]:
b={2,3,5,9,0,4,7,9,0,4,7,9,4,3}
c={1,2,3,6,4,7}
set=b.difference(c)
print(set)

{0, 9, 5}

# Symmetric difference:
 The symmetric difference of sets is set of elements that cancels common elements of sets and returns the values of setA and setB.

In [1]:
setA={1,2,3,4,5}
setB={4,6,7,8}
set=setA.symmetric_difference(setB)
print(set)

{1, 2, 3, 5, 6, 7, 8}

In [2]:
c={'mango','apple','banana'}
d={'apple','grapes','lemon','banana','orange'}
set=c.symmetric_difference(d)
print(set)

{'mango', 'grapes', 'lemon', 'orange'}